apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: orchestrator-data-pvc
  namespace: mimir-aip
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
